@import '../../styles/variables.scss';


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        button{
            border-radius: $border-radius;
            border: none;
            color: $principalTextColor;
            background-color: $principalColor;
            padding: .5rem 1rem;
            font-size: .9rem;
            cursor: pointer;
            margin-bottom: .5rem;
        
        }
    }

    .content_box{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr .5fr;
        grid-template-rows: 1fr auto;
        gap: 0rem;
        

        .certificate__img_box{
            border: 1px solid $secondaryColor;
            border-right: none;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                border-bottom-left-radius: 1rem;
                width: 100%;
                border-top-left-radius: 1rem;
            }
        }

        .certificate__info_box{
            padding-inline: 1rem;
            padding-top: 1rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            border: 1px solid $secondaryColor;
            border-left: none;
            background-color: $principalTitlesColor;

            .certificate__info_box__content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                .description{
                    h2{
                        text-align: center;
                        font-size: 1.1rem;
                        margin-bottom: .5rem;
                        font-weight: 700;
                    }
                    span{
                        font-size: .8rem;
                        font-weight: 400;
                    }
                }

                .tags{
                    padding: .4rem;
                    text-align: center;
                }
            }
        }
    }

}
@media (max-width: 1366px){
    .container{
        .header{
            button{
                font-size: .7rem;
            }
        }
        .content_box{
            
            .certificate__info_box{
                padding-inline: 1rem;
                padding-top: 1rem;
                border-top-right-radius: 1rem;
                .certificate__info_box__content{
                    .description{
                        span{
                            font-size: .8rem;
                        }
                    }
                }
            }
            .certificate__title_box{
                grid-column: span 2;
                background-color: $principalColor;
                color: $principalTitlesColor;
                text-align: center;
                padding: .5rem;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                h2{
                    padding: 0px;
                    margin: 0px;
                }
            }
        }
    }

}

@media (max-width: 1100px){
    .container{
        width: 80%;
        margin: auto;
        .content_box{
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr auto;
            .certificate__img_box{
                border-bottom-left-radius: 0rem;
                border-top-right-radius: 1rem;
                border-right: 1px solid $secondaryColor;
                border-bottom: 0px;
                img{
                    border-top-right-radius: 1rem;
                    border-bottom-left-radius: 0rem;
                }
            }
            .certificate__info_box{
                grid-column: span 1;
                padding-top: 0rem;
                padding-bottom: 0rem;
                padding-inline: 1rem;
                border-top: none !important;

                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                border: 1px solid $secondaryColor;


                .certificate__info_box__content{
                    .description{
                        h2{
                            font-size: 1rem;
                            font-weight: 700;
                        }
                        span{
                            font-size: .65rem;
                        }
                    }
                }
            } 
        }
    }
}

@media (max-width: 800px){
    .container{
        margin-bottom: .9rem;
        padding-top: .9rem;
        .content_box{
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr auto;
            .certificate__info_box{
                .certificate__info_box__content{
                    .description{
                        span{
                            font-size: .8rem;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px){
    .container{
        .header{
            button{
                font-size: .6rem;
                padding: .35rem .85rem;
            }
        }
        .content_box{
            .certificate__info_box{
                .certificate__info_box__content{
                    .description{
                        span{
                            font-size: .7rem;
                        }
                        h2{
                            font-size: .85rem;
                        }
                    }
                }
            }
        }
    }
}