@import '../../styles/variables.scss';

.aside{
    width: $sideBarWidth;
    height: 100vh;
    background-color: $principalColor;
    box-shadow: $principalColor 4px 0px 10px 0px;

    .photo__box{
        width: 100%;
        height: 20rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .name{
        color: $principalTextColor;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        margin-top: .5rem;
        margin-bottom: 0px;
    }
    .addres{
        color: $principalTextColor;
        font-size: .7rem;
        text-align: center;
        margin-top: 0.1rem;
    }
}

@media (min-width: 2500px){
    .aside{
        width:$sideBarWidthTaller;
        .photo__box{
            height: 25rem;
        }
        .name{
            font-size: 1.7rem;
        }
        .addres{
            font-size: 1rem;
            text-align: center;
        }
    }
}

@media (max-width: 1366px){
    .aside{
        width:$sideBarWidthSmaller;
        // height: ;
        .name{
            font-size: 1rem;
        }
        .addres{
            font-size: .6rem;
        }
        .photo__box{
            height: 14rem;
        }
    }

}


@media (max-width: 800px){
    .aside{
        width: 100%;
        padding-bottom: 2rem;
        height: fit-content;

        .name{
            font-weight: 700;
            text-align: center;
            margin-top: .5rem;
            margin-bottom: 0px;
        }
        .addres{
            font-weight: 400;
            text-align: center;
            margin-top: 0.3rem;
        }
    }
 }

// CELULAR
@media (max-width: 500px){
    .aside{
        width: 100%;
        height: fit-content;
        padding-bottom: 2rem;

        .name{
            font-size: 1rem;
        }
        .addres{
            font-size: .55rem;
            font-weight: 400;
            text-align: center;
            margin-top: 0.2rem;
        }
    }
 }