$principalColor: #13293d;
// $secondaryColor: #b10076;
$secondaryColor: #e4169f;
$principalTitlesColor: #eee;
$principalTextColor: #eee;

$border-radius:5px;

$sideBarWidth: 368px;
$sideBarWidthSmaller: 352px;
$sideBarWidthTaller: 410px;
