@import '../../styles/variables.scss';

//animacao de girar a estrela
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.skills{
    width: 70%;
    padding-inline: 1rem;
    padding-top: .5rem;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: $border-radius;
    border: 1px solid #ededee;

    h2{
        color: $principalTextColor;
        margin: 0px;
        font-size: 1.2rem;
        font-weight: 700;
    }

    ul{
        list-style: none;
        padding-inline: 0px;

        li{
            margin-bottom: .5rem;
            border-bottom: 1px solid $principalTextColor;
            &:hover{
                .skill__box{
                    .skill__stars_box{
                        img.color{
                            animation: none;

                        }
                    }
                }
            }
            
            .skill__box{
                display: flex;
                justify-content: space-between;
                .skill__title{
                    margin: 0px;
                    color:$principalTextColor;
                    font-size: .7rem;
                    font-weight: 500;
                }
                .skill__stars_box{
                    display: flex;
                    img{
                        width: .7rem;
                        height: .7rem;
                        filter: grayscale(100%);
                        transition: all .9s ease;
                    }
                    img.color{
                        filter: none;
                        animation: rotate 6s infinite linear;
                    }
                }
            }
        }
    }
}

//tela de 1350px para baixo

@media (min-width: 2500px){
    .skills{
        h2{
            margin: 0px;
            font-size: 1.8rem;
        }

        ul{
            li{
                margin-bottom: .9rem;

                .skill__box{
                    .skill__title{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        
    }
}

@media (max-width: 1100px){
    
}

@media (max-width: 800px){
    .skills{
        border-radius: $border-radius;
        h2{
            font-size: 1rem;
        }
        ul{
            li{
                .skill__box{
                    .skill__title{
                        margin: 0px;
                        font-size: .8rem;
                    }
                }
            }
        }
    }

}

@media (max-width: 500px){
    .skills{
        h2{
            font-size: .8rem;
        }
        ul{
            li{
                .skill__box{
                    .skill__title{
                        margin: 0px;
                        color:$principalTextColor;
                        font-size: .6rem;
                    }
                }
            }
        }
    }
}

