.container {
  padding-top: 2rem;
  padding-inline: 2.5rem;
}

@media (max-width: 1130px){
 .container{
  padding-top: .1rem;
 }
}

@media (max-width: 1000px){
  .container {
    padding-top: 0rem;
    padding-inline: 2.5rem;
  }
}

@media (max-width: 600px){
  .container {
    padding-top: 0rem;
    padding-inline: 0rem;
  }
}