@import '../../styles/variables.scss';

.select{
    width: 15rem;
    height: fit-content;
    padding: .2rem;
    border: none;
    border-radius: $border-radius;

    color: $principalColor;
    font-size: .9rem;
    

    &:focus{
        outline: none;
    }
}

@media (min-width: 2500px){
    .select{
        width: 23rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 500px){
    .select{
        width: 9rem;
    }
}