body{
    background-color: #e1e0e0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;

}

#root > main.container {
    display: flex;
    height: 100vh;
  }

  @media (max-width: 800px){
    #root > main.container {
        flex-direction: column;
        height: 100vh;
      }
 }

 @media (max-width: 500px){
    #root > main.container {
        flex-direction: column;
        height: 100vh;
      }
 }