@import '../../styles/variables.scss';

.box{
    padding: 0.6rem;
    .header__itemBox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .box__title{
            font-size: 1.3rem;
            font-weight: bold;
            color: $principalBgColor;
        }
    }
    
    .box__content{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 1rem;

        //scroll
        overflow: auto;
        max-height: 75vh;

        &::-webkit-scrollbar {
            width: 8px; /* largura da barra de rolagem */
          }
        &::-webkit-scrollbar-track {
        background: #f1f1f1; /* cor do fundo da barra de rolagem */
        }

        &::-webkit-scrollbar-thumb {
        background: $principalBgColor; /* cor do indicador de rolagem */
        border-radius: 6px; /* borda arredondada do indicador */
        }

    }
}

@media (min-width: 2500px){
    .box{
        .header__itemBox{
            .box__content{
                grid-template-columns: repeat(4, 2fr);
                max-height: 80vh;
            }
        }
        .box__title{
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 1100px){
    .box{
        .header__itemBox{
            padding: 1rem;
        };
        .box__content{
            grid-template-columns: repeat(2, 2fr);
            max-height: 80vh;
        }
    }
}

@media (max-width: 800px){
    .box{
        .box__content{
            gap: 1rem;
        }
    }
}

@media (max-width: 500px){
    .box{
        .box__title{
            text-align: center;
            margin: 1px ;
        }
        .box__content{
            grid-template-columns: repeat(1, 2fr);
            gap: 1rem;
        }
    }
}