@import '../../../styles/variables.scss';

.item{
    transition: 0.1s;
    cursor: pointer;
    box-shadow: 0 11px 11px 1px rgba(0, 0, 0, .3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    &:hover{
        .itemContent{
            img{
                opacity: 0.5;
            }
            .rightDetails{
                opacity: 1;
            }
        }
    }

    .itemContent{
        display: flex;
        img{
            width: 100%;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
        .rightDetails{
            transition: all .2s;
            position: relative;
            left: -65%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 6rem;
            opacity: 0;
            color: $principalColor;
        }
    }

    .details{
        background-color: $principalColor;
        border-color: $principalColor ;
        color: $principalTextColor;
        width: 100%;
        padding-top: .2rem;
        padding-bottom: .2rem;
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    button{
        color: $principalColor;
        background-color: $principalTextColor;
        width: 100%;
        padding-top: .2rem;
        padding-bottom: .2rem;
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 1rem;
        transition: all .2s;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .tags{
            display: flex;
        }

        .txt{
            background-color: $secondaryColor;
            color: $principalTextColor;
            font-weight: 700;
            padding: 0.3rem 1rem;
            border-radius: $border-radius;
            position: relative;
            top: -15px;

        }
    }
}

@media (max-width: 1366px){
    .item{
        .itemContent{
            .rightDetails{
                font-size: 4rem;
            }
        }
        button{
            .txt{
                font-size: .75rem;
                font-weight: 700;
                padding: 0.2rem .7rem;
    
            }
        }
    }
}
@media (max-width: 600px){
    .item{
        box-shadow: none;
        padding-inline: 2.3rem;
        .itemContent{
            .rightDetails{
                font-size: 6rem;
            }
        }
        button{
            .txt{
                top: -12px;
    
            }
        }
    }
   
}